@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Variable.woff2') format('woff2'),
       url('../fonts/Switzer-Variable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-VariableItalic.woff2') format('woff2'),
       url('../fonts/Switzer-VariableItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

:root {
  --color-background-hsl: 0, 0%, 98%;
  --color-text-hsl: 0, 0%, 20%;
  --color-text-rgb: 20, 20, 20;
  --paragraph-bottom-margin: 1.25rem;
  --baseline: 1.6rem;
}

::selection {
  background-color: hsla(var(--color-text-hsl), 0.99);
  color: hsl(var(--color-background-hsl));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-hsl: 0, 0%, 10%;
    --color-text-hsl: 0, 0%, 90%;
    --color-text-rgb: 229, 229, 229;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Switzer', system-ui, sans-serif;
  font-size: 15px;
  line-height: var(--baseline);
  background-color: hsl(var(--color-background-hsl));
  color: hsl(var(--color-text-hsl));
  /* transform: translateZ(0); */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

/* Basic baseline grid */
/* body {
  background-image: linear-gradient(to bottom, rgba(255, 0, 221, 0.4) 1px, transparent 0);
  background-size: 100% var(--baseline);
} */
/* End baseline grid */

.logo {
  width: 90px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (min-width: 768px) {
  .logo {
    margin-top: calc(2 * var(--baseline));
  }
}

main {
  min-height: 100vh;
  padding: calc(4 * var(--baseline)) var(--baseline);
  margin: 0 auto;
  max-width: 38em;
  max-width: 66ch;
}

main::after, main::before {
  content: '';
  display: block;
  width: 100vw;
  height: calc(3 * var(--baseline));
  position: fixed;
  left: 0;
  pointer-events: none;
}

main::before {
  top: 0;
  background: linear-gradient(
    to top,
    hsla(var(--color-background-hsl), 0) 0%,
    hsla(var(--color-background-hsl), 1) 100%
  );
}

main::after {
  bottom: 0;
  background: linear-gradient(
    to bottom,
    hsla(var(--color-background-hsl), 0) 0%,
    hsla(var(--color-background-hsl), 1) 100%
  );
}

p {
  margin: 0;
}

p + p {
  margin-top: var(--baseline);
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid hsla(var(--color-text-hsl), .1);
  margin: calc(var(--baseline) - 1px) 0 var(--baseline) 0;
  transform: translateY(0.5px);
}

ol, ul {
  margin: calc(var(--baseline) / 2) 0;
}

ul {
  padding-inline-start: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  padding-top: calc(1.5 * var(--baseline));
  padding-bottom: calc(0.5 * var(--baseline));
}

h1 + h2 {
  margin-top: var(--baseline);
}

blockquote {
  margin: 0;
  padding: 0;
}

blockquote + p {
  margin-top: var(--baseline);
}

blockquote p {
  text-indent: -0.45em; 
  font-style: italic;
  color: hsla(var(--color-text-hsl), 0.6);
  margin: 0;
  padding: 0;
  line-height: var(--baseline);
}

@​supports (hanging-punctuation: first) {
  blockquote p {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

blockquote p::before {
    content: open-quote;
}
blockquote p::after {
    content: close-quote;
}

a, a:hover, a:visited {
  color: hsl(var(--color-text-hsl));
  cursor: default;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-thickness: .5px;
  text-decoration-color: hsla(var(--color-text-hsl), .4);
  text-underline-offset: 4px;
  transition: text-decoration 0.164s cubic-bezier(0, 0.55, 0.45, 1);
}

a:hover {
  text-decoration-color: hsla(var(--color-text-hsl), .9);
}

a[href^="http"]:not([href*="geff.re"])::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M13 5H19V11"/%3E%3Cpath d="M19 5L5 19"/%3E%3C/svg%3E') no-repeat center;
  background-size: contain;
  vertical-align: middle;
  white-space: nowrap;
}

a:active:not(.logo) {
  position: relative;
  top: 1px;
  left: 1px;
}

@media (prefers-color-scheme: dark) {
  a[href^="http"]:not([href*="geff.re"])::after {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23E6E6E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M13 5H19V11"/%3E%3Cpath d="M19 5L5 19"/%3E%3C/svg%3E') no-repeat center;
  }
}

@view-transition {
  navigation: auto;
}

@media not (prefers-reduced-motion: reduce) {
	body { view-transition-name: blur }
}

::view-transition-old(blur),
::view-transition-new(blur) {
  will-change: opacity, filter;
  transform: translateZ(0);
}

::view-transition-old(blur) {
  animation: fade-out .6s cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

::view-transition-new(blur) {
  animation: fade-in .6s cubic-bezier(0.76, 0, 0.24, 1) forwards;
  opacity: 0;
  filter: blur(4px);
}

@keyframes fade-out {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    filter: blur(4px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}