<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geffrey van der Bos</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <section class="content">
        {% set mainContent = collections.content[0].templateContent %}

        <div>
          {{ mainContent | safe }}
        </div>
        </section>

    </main>
    <div class="top-fade"></div>
    <div class="bottom-fade"></div>
</body>
</html>