<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>{{title}}</title>
    <meta name="description" content="Product designer and music science writer.">
    <link rel="stylesheet" href="{{ '/style.css' | url }}">
    <link rel="icon" href="{{ '/images/favicon.png' | url }}">
</head>
<body>
    <a class="logo" href="/">
        {% include "black-metal-logo-geffrey.svg" %}
    </a>
    <main id="content">
        {{ content | safe }}
    {% if page.url != '/sitemap/' %}
        <div class="sitemap-link">└─ <a href="/sitemap" title="navigate the site using the sitemap">Sitemap</a></div>
    {% endif %}
    </main>
</body>
</html>
