<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Geffrey van der Bos</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>
<body>
    <a class="logo" href="/">
        {% include "black-metal-logo-geffrey.svg" %}
    </a>
    <main>
        {{ content | safe }}
    </main>
</body>
</html>