:root {
    --color-background-hsl: 0, 0%, 98%;
    --color-text-hsl: 0, 0%, 20%;
    --color-text-rgb: 20, 20, 20;
    --paragraph-bottom-margin: 1.25rem;
    --baseline: 1.6rem;
    --font-family: system-ui, sans-serif;

    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-medium:
        0px 1px 1.2px hsl(var(--shadow-color) / 0.09),
        0px 5.3px 6.6px -0.9px hsl(var(--shadow-color) / 0.11),
        0.1px 18.6px 23px -1.7px hsl(var(--shadow-color) / 0.14);

    box-sizing: border-box;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background-hsl: 0, 0%, 10%;
        --color-text-hsl: 0, 0%, 90%;
        --color-text-rgb: 229, 229, 229;
    }
}
